name: Generate snake animation

on:
  schedule:
    - cron: "* */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Check PAT_TOKEN
        run: |
          if [ -z "$PAT_TOKEN" ]; then
            echo "PAT_TOKEN is empty"
            exit 1
          else
            echo "PAT_TOKEN is set"
            echo "First 4 chars: ${PAT_TOKEN:0:4}***"
          fi
        env:
          PAT_TOKEN: ${{ secrets.PAT_TOKEN }}

      - name: generate snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: dist/snake.svg?palette=github-dark
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}  # <-- thêm token cho private repo

      - name: Full-year calendar
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.isocalendar.fullyear.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

      - name: push snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GH_PAT: ${{ secrets.PAT_TOKEN }}  # <-- token để push
